@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
	background-color: #e5e8f0;
	overflow-x: hidden;
}

.container{
   max-width: 90%;
}

.navbar {
   font-family: 'Oswald', sans-serif;
   font-size: 18px;
}

.navbar .navbar-nav .nav-item:hover {
   color: rgb(6, 162, 201);
}

.head {
   font-family: 'Francois One', sans-serif;
   font-size: 36px;
}

hr {
   border: 1px solid rgb(196, 196, 196);
}

.price {
   color: rgb(247, 161, 0) !important;
}

